/* Colors
    Gold - #FCD746
    Red - #E94310
    Navbar Bg - #0707076D
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 100px;
    gap: 60px;
    position: fixed;
    z-index: 999;
    background-color: transparent;
}

nav img {
    aspect-ratio: 1;
    width: 180px;
    height: 90px;
    filter: grayscale(80%);
    cursor: pointer;
}

nav img:hover {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
}

.link:hover {
    border: 1px solid #fff;
    border-radius: 10px;
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: #E94310;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

.cursor-blur {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 187, 0, 0.13);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    filter: blur(50px);
    z-index: 9;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
}

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    z-index: 10;
}

.hero-title {
    font-size: 100px;
    font-weight: 900;
    position: relative;
}

.hero-title::before {
    content: "EAT. DRINK. SLEEP.";
    position: absolute;
    color: #000;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px gold;
    z-index: -1;
}

.hero-title::selection {
    color: red;
    background-color: gold;
}

.hero-subtitle {
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-subtitle::selection {
    color: red;
    background-color: gold;
}


.hero-intro {
    text-transform: none;
    width: 60%;
    font-size: 20px;
}

.hero-intro::selection {
    color: #000;
    background-color: red;
}

.scrolling-info {
    height: 30vh;
    display: flex;
    align-items: center;
    background-color: #000000a8;
}

.scroller {
    color: #fff;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 900;
    font-size: 100px;
    margin-right: 10px;
    -webkit-text-stroke: 1px red;
    color: transparent;
    cursor: pointer;
    transition: all linear 0.5s;
    font-family: 'Julee', cursive;
}

.scroller h4:hover {
    color: red;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.spotlight {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 0px 40px;
}

.spotlight::selection {
    color: #000;
    background-color: red;
}

.spot-img {
    width: 25%;
    height: 40%;
    filter: grayscale(90%);
    cursor: pointer;
    margin: 10px;
}

.spot-img:hover {
    transition: all 0.1s ease;
    filter: grayscale(0%);
    scale: 1.1;
}

.spot-para {
    padding: 10px;
    font-family: 'Macondo', cursive;
    font-size: x-large;
}

.spot-para::selection {
    color: #000;
    background-color: red;
}

.author {
    font-family: 'Macondo', cursive;
    font-size: x-large;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 100px;
}

.author::selection {
    color: #000;
    background-color: red;
}

.quote {
    font-family: 'Macondo', cursive;
    font-size: xx-large;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.quote::selection {
    color: #000;
    background-color: red;
}