/* Colors
    Gold - #FCD746
    Red - #E94310
    Navbar Bg - #0707076D
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 100px;
    gap: 60px;
    position: fixed;
    z-index: 999;
    background-color: transparent;
}

nav img {
    aspect-ratio: 1;
    width: 180px;
    height: 90px;
    filter: grayscale(80%);
    cursor: pointer;
}

nav img:hover {
    filter: grayscale(0%);
    transition: filter 0.3s ease;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
}

.link:hover {
    border: 1px solid #fff;
    border-radius: 10px;
}

.arrow {
    height: 200px;
    width: 200px;
    position: absolute;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: -2%;
    bottom: -2%;
    border: 3px solid red;
}

.arrow:hover {
    scale: 0.4;
    background-color: red;
    transition: all 0.5s ease;
}

.arrow i {
    font-size: 70px;
    font-weight: 100;
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: #ffffff30;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.cursor-blur {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    filter: blur(50px);
    z-index: 9;
    pointer-events: none;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

/* Main */
main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
}

/* Hero */

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    z-index: 10;
}

.hero-title {
    font-size: 100px;
    font-weight: 900;
    position: relative;
}

.hero-title::before {
    content: "EAT. DRINK. SLEEP.";
    position: absolute;
    color: #000;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px red;
    z-index: -1;
}

.hero-title::selection {
    color: red;
    background-color: gold;
}

.hero-subtitle {
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-subtitle::selection {
    color: red;
    background-color: gold;
}


.hero-intro {
    text-transform: none;
    width: 60%;
    font-size: 20px;
}

.hero-intro::selection {
    color: #000;
    background-color: red;
}

.scrolling-info {
    height: 30vh;
    display: flex;
    align-items: center;
    background-color: #000000a8;
}

.scroller {
    color: #fff;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.scroller h4 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 900;
    font-size: 100px;
    margin-right: 10px;
    -webkit-text-stroke: 1px red;
    color: transparent;
    cursor: pointer;
    transition: all linear 0.5s;
    font-family: 'Julee', cursive;
}

.scroller h4:hover {
    color: red;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Spotlight */

.spotlight {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    min-height: 100%;
    background-color: #000;
    padding: 40px 40px;
}

.spotlight::selection {
    color: #000;
    background-color: red;
}

.spot-img {
    width: 25%;
    height: 40%;
    filter: grayscale(90%);
    cursor: pointer;
    margin: 10px;
    object-fit: cover;
}

.spot-img:hover {
    transition: all 0.1s ease;
    filter: grayscale(0%);
    scale: 0.9;
}

.spot-heading {
    padding: 0px 10px;
    font-family: 'Julee', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.spot-heading::selection {
    color: #000;
    background-color: red;
}

.spot-para {
    padding: 10px;
    font-family: 'Macondo', cursive;
    font-size: x-large;
}

.spot-para::selection {
    color: #000;
    background-color: red;
}

.author {
    font-family: 'Macondo', cursive;
    font-size: x-large;
    text-align: right;
    display: inline-block;
    width: 100%;
    padding-right: 100px;
}

.author::selection {
    color: #000;
    background-color: red;
}

.quote {
    font-family: 'Macondo', cursive;
    font-size: xx-large;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.quote::selection {
    color: #000;
    background-color: red;
}

/* Cards */

.cards-container {
    background-color: red;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.cards-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.cards-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/cards/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(4px);
    filter: grayscale(50%);
    z-index: 1;
}

.card {
    height: 60%;
    /* padding: 20px; */
    width: 20%;
    background-color: blue;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
    cursor: pointer;
    z-index: 10;
    filter: grayscale(0%);
    overflow: hidden;
    transition: all ease 0.6s;
    box-shadow: 0px 0px 10px #000;
}

#card-1 {
    /* background-image: url(https://m.media-amazon.com/images/M/MV5BODJkZTZhMWItMDI3Yy00ZWZlLTk4NjQtOTI1ZjU5NjBjZTVjXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_FMjpg_UX1000_.jpg); */
    background-image: url(../img/cards/kfp-1.jpg);
}

#card-2 {
    /* background-image: url(https://images-na.ssl-images-amazon.com/images/S/pv-target-images/776d0dcddd903d9bf7aa47dd28004704b54dcbc6f826a53cc089ca30d164c40e._RI_TTW_.jpg); */
    background-image: url(../img/cards/kfp-2.jpg);
}

#card-3 {
    /* background-image: url(https://images.moviesanywhere.com/6fa4dfe909bd0766e7260ba7e3f785ac/7971b210-c997-48bc-9b88-0ed90069ac4a.jpg); */
    background-image: url(../img/cards/kfp-3.jpg);
}

#card-1:hover {
    transform: rotate3d(0, 1, 1, -6deg);
}

#card-2:hover {
    transform: rotate3d(0, 1, 1, 0deg);
}

#card-3:hover {
    transform: rotate3d(0, 1, 1, 6deg);
}

.card:hover {
    scale: 115%;
    filter: grayscale(50%);
    transition: all 0.3s ease-in-out;
    transform: rotate3d(0, 1, 1, -2deg);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay h4 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'montserrat', cursive;
    white-space: nowrap;
}

.overlay p {
    color: #fff;
    font-family: 'Macondo', cursive;
    font-size: 18px;
    font-weight: normal;
}

.card:hover .overlay {
    opacity: 1;
}

.overlay h4::selection {
    color: #000;
    background-color: red;
}

.overlay p::selection {
    color: #000;
    background-color: red;
}

/* Banner */
.banner {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 60px;
    background-image: url(../img/action-img/banner-bg.webp);
    background-position: center left;
    background-attachment: fixed;
}

.banner-in {
    text-align: left;
    transform: translateX(0px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-heading {
    width: 100%;
    line-height: 50px;
    font-size: 28px;
    text-transform: uppercase;
    color: #000;
    font-family: "Julee", cursive;
    margin: 10px;
    text-shadow: 2px 2px 20px #fff;
}

.banner-heading::selection {
    color: #000;
    background-color: red;
}

.banner-img {
    padding: 0px;
    height: 100%;
    width: 15%;
    object-fit: cover;
    filter: grayscale(90%);
    cursor: pointer;
}

.banner-img:hover {
    filter: none;
    transition: all 0.3s ease-in-out;
    scale: 0.9;
}

.banner-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Julee", cursive;
    border: 2px solid #000;
    padding: 8px 24px;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
}

.banner-link::selection {
    background-color: transparent;
    color: white;
}

.banner-link:hover {
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    transition: all ease 0.03s;
}

.banner-link:active {
    scale: 0.8;
}

/* Quote */

.quote-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quote-container::before {
    content: "";
    background-image: url(https://cdn.wallpapersafari.com/52/83/Hta3NR.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(60%);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.quote-main {
    text-align: center;
    color: #fff;
    line-height: 45px;
    font-size: 36px;
    font-weight: 700;
    width: 60%;
    z-index: 10;
}

.quote-main::selection {
    color: #000;
    background-color: red;
}

.quote-img {
    position: absolute;
    scale: 0.12;
    filter: invert();
    z-index: 10;
}

#quote-start {
    left: 0%;
    top: -5%;
}

#quote-end {
    bottom: -1%;
    right: 2%;
}

footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, rgba(116, 0, 0, 0.863), red);
}